body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    line-height: small;
    color: black;
    width: 90%;
    margin: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: orange;
    /*background color se fait écraser par background photo*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background position : bottom 0 right 0*/

}

h1 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    }

